

body {
    padding: 10px;
    background-color: white;
    margin-left: auto;
    margin-right:auto;
}

h2 {
    contain:content;
    text-align: center;
    align-content: center;
    margin: auto;
    padding:10px;
    border:1px solid chartreuse;
    border-radius: 24px;
    border-width: medium;
}

h3 {
    text-align: center;
    contain: content;
    border: 1px solid black;
    border-radius: 24px;

}
.newJoke {
    padding-left: 20px;
}